<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.virtuoussoftware.apptly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:targetSdkVersion="16" android:minSdkVersion="14"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StreamListActivity"
            android:label="@string/title_stream_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StreamDetailActivity"
            android:label="@string/title_stream_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StreamListActivity" />
        </activity>
        <activity android:label="JANKZ0R" android:name=".jankotron.SlowTabulizerActivity"></activity>
        <activity
            android:name=".auth.AuthenticationActivity" 
            android:label="Authenticate">
        </activity>
    </application>

</manifest>
